{% for post in site.posts %}
  {% assign summary = post.summary %}
  <div class="divider mb2"></div>
  <section class="mo">
    <div class="row">
      <div class="col s12 m4">
        <div class="mo-image valign-wrapper">
          {% include pic.html src=summary.image.src alt=summary.image.alt %}
        </div>
      </div>
      <div class="col s12 m8">
        <div class="mo-text">
          <h4 id="{{ post.title | slugify }}"> {{ post.title }} </h4>
          {{ summary.description | markdownify }}

          <button type="button">
            <a href="{{ post.title | slugify }}" class="waves-effect waves-light btn btn-bmi--generic mt0">
              {{ summary.button_label | default: "Read Post" }}
            </a>
          </button>
        </div>
      </div>
    </div>
  </section>
{% endfor %}


